add_commit_push.sh

books/
info/
save/

# Дерево подкаталогов
tree

# Исполняемые файлы и бинарники
*.exe
*.com
*.o
*.obj
*.elf
*.bin

# Временные файлы Forth


# Резервные копии редактора
*~
*.bak
*.swp
.#*
\#*#

# Директории сборки
build/
bin/
out/
target/



